{% extends "bouteille/base.html" %}

{% block main %}

<header class='hidden md:block' >
  <img class="max-h-24 md:max-h-24 w-full object-cover" src="/public/img/drizzle_bg_2.jpg" alt="">
</header>

<section class="section" data-js-cel-id="{{cel_id}}">

  {% if message %}

    {% if message == 'ajouter' %}
    <div id="cellier_popup" class="mt-5 md:w-80 flex p-4 border-t-4 border-black bg-green-50 " role="alert">
      <svg class="flex-shrink-0 w-5 h-5 text-gray-800 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
      <div class="ml-3 text-sm font-medium text-gray-800 ">
        Ajout réussi ! 
      </div>
      <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-green-50  text-gray-500 rounded-lg focus:ring-2 focus:ring-gray-400 p-1.5 hover:bg-gray-200 inline-flex h-8 w-8" data-button-close="#alert-border-5" aria-label="Close">
        <span class="sr-only">Dismiss</span>
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
      </button>
    </div>
    {% endif %}

    {% if message == 'modifier' %}
    <div id="cellier_popup" class="mt-5 md:w-80 flex p-4 border-t-4 border-black bg-green-50 " role="alert">
      <svg class="flex-shrink-0 w-5 h-5 text-gray-800 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
      <div class="ml-3 text-sm font-medium text-gray-800 ">
        Modification réussi !
      </div>
      <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-green-50 text-gray-500 rounded-lg focus:ring-2 focus:ring-gray-400 p-1.5 hover:bg-gray-200 inline-flex h-8 w-8 " 
     data-button-close="#alert-border-5" aria-label="Close">
        <span class="sr-only">Dismiss</span>
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
      </button>
    </div>
    {% endif %}

    {% if message == 'supprimer' %}
    <div id="cellier_popup" class="mt-5 md:w-80 flex p-4 border-t-4 border-black bg-green-50 " role="alert">
      <svg class="flex-shrink-0 w-5 h-5 text-gray-800 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
      <div class="ml-3 text-sm font-medium text-gray-800 ">
        Suppression réussi !
      </div>
      <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-green-50 text-gray-500 rounded-lg focus:ring-2 focus:ring-gray-400 p-1.5 hover:bg-gray-200 inline-flex h-8 w-8 " 
     data-button-close="#alert-border-5" aria-label="Close">
        <span class="sr-only">Dismiss</span>
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
      </button>
    </div>
    {% endif %}


  {% endif %}
</section>

<section class="section mt-5 sm:mt-6 md:mt-9 ">


 <div class="flex items-center gap-x-3 sm:gap-x-5 pl-1">
{# lien retour #}

<a href="/cellier/cellier" type="button" class=" rotate-180 text-black border border-black hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center mr-2 ">
  <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
  <span class="sr-only">Icon description</span>
</a>

{# titre et btn ajout #}
<div class="flex items-center gap-x-10">
  <h1 class="text-2xl sm:text-2xl lg:text-4xl capitalize font-extrabold ">{{nom}}</h1>
  <article 
    class="hidden md:block">
    <a href="/bouteille/nouveau?id_cellier={{cel_id}}"
    class="flex items-center gap-x-3 cursor-pointer font-medium
    text-white sans_6 bg-black shadow-2xl  rounded-xl text-sm px-5 py-3.5 text-center">
      <img class='w-4' src="/public/img/pencil-white.svg" alt="">
      <span>Ajouter une bouteille</span>  
  </a>
  </article>
</article>
</div>

 </div>


   
</section>


<section id="app-4" class="mt-6 sm:mt-12 section flex flex-col sm:flex-row sm:flex-wrap gap-4">

{% for bouteille in bouteilles %}

 <div 
 data-js-bouteille
 data-js-id="{{bouteille.bdc_id}}"
 class="relative max-w-xs">
	  <div class="p-4 py-6 bg-white border border-gray-200 rounded-lg shadow">
		<div class="flex relative ">
      <img class="w-20 relative left-10" src="{{bouteille.bout_image}}" alt="">
		  <div x-data="{ isOpen: false }" 
      class="absolute -top-3 right-0 cursor-pointer  mt-3 ml-3 px-3 py-2 rounded-lg z-10 ">
        <img src="/public/img/petit-menu.svg" alt="" @click="isOpen = ! isOpen" >
          <div 
          x-cloak
          x-show="isOpen" 
          x-transition
          class="absolute right-0 sm:left-1"  @click.outside="isOpen = false">
            {{ include('components/voir-saq.html') }}
          </div>
		  </div>
		</div>

		<a class="mt-4 px-2 block" href="/bouteille/detail/{{bouteille.bdc_id}}">
		  <h2 class="font-medium w-64 text-base md:text-lg text-gray-800 line-clamp-1" title="{{bouteille.bout_nom}}">
        {{bouteille.bout_nom}}
		  </h2>
		  <p class="mt-2 text-sm text-gray-800 line-clamp-1" title="{{bouteille.bout_description}}">
			{{bouteille.bout_description}}
		  </p>
		</a>

		<div class="flex gap-2 mt-6 px-2">
		  <p class="inline-flex items-center text-gray-800">
        <span class="text-2xl font-bold sans_6" data-js-quantite>{{bouteille.bdc_quantite}}</span>
		  </p>
		  <p class="inline-flex items-center text-gray-800">
			
			<span class="p-1 cursor-pointer"  data-js-ajouter>
        <img src="/public/img/augmenter.svg" alt="">
      </span>
      <span class="cursor-pointer p-1" data-js-boire>
        <img src="/public/img/diminuer.svg" alt="">

      </span>
		  </p>
		</div>
	  </div>
  </div>
{% endfor %}

</section>


{# message pour bouteilles vides #}
{% if bouteilles is empty %}

<section class="section md:mt-4">
  <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow 0">
    <p class="mb-4 font-semibold text-gray-700">Ajouter une première bouteille à ce cellier.</p>
    <a href="/bouteille/nouveau?id_cellier={{cel_id}}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-black rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 ">
       Commencer
        <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </a>
</div>
</section>

</section>
{% endif %}

    {#  button en bas ne pas deplacer #}
    <footer 
    class="fixed bottom-[5vh] right-7 md:hidden" >
      <a href="/bouteille/nouveau?id_cellier={{cel_id}}"
      class="flex items-center gap-x-3 cursor-pointer font-medium
      text-white sans_6 bg-black shadow-2xl  rounded-xl text-sm px-5 py-3.5 text-center">
        <img class='w-4' src="/public/img/pencil-white.svg" alt="">
        <span>Ajouter une bouteille</span>  
    </a>
    </footer>

  <style>
    .section {
      max-width: clamp(0px, 80vw, 1200px);
      margin-left: auto;
      margin-right: auto;
    }
    .sans_6 {
      font-family: sans-serif;
    }


    


  </style>
  <script src="/public/js/Bouteille.js"></script>
  <script src="/public/js/alertbox.js"></script>
  <script src="/public/js/main.js"></script>
  
{% endblock main %}
