<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mon Vino</title>
  <link rel="stylesheet" href="/public/css/tailwindfin.css">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="76x76" href="/public/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon/favicon-16x16.png">
  <link rel="manifest" href="/public/favicon/site.webmanifest">
  <link rel="mask-icon" href="/public/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="theme-color" content="#ffffff">
  
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>


</head>
<body class="bg-color pvh">
  
<!-- nav desktop -->
<section class="bg-white">
  <nav class=" section_nav hidden md:flex justify-between items-center p-4 py-5 md:px-0">
    
    <div class='flex items-center gap-x-12'>
      <a href="/cellier/cellier">
        <img src="/public/img/vino_noir.svg" alt="">
      </a>
    </div>
      
    <div class="flex  items-center gap-x-6 relative w-3/4">

      <div x-data="{open : false}" class="flex flex-col relative space-y-1 ">
        <div class="">
            <p @mouseover="open = true"  class="flex items-center">
                <a href="/cellier/cellier"class="font-medium">
                  Mes celliers</a>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mt-1 mx-1" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 0 1 1.414 0L10 10.586l3.293-3.293a1 1 0 1 1 1.414 1.414l-4 4a1 1 0 0 1-1.414 0l-4-4a1 1 0 0 1 0-1.414z" clip-rule="evenodd"></path></svg>
            </p>
        </div>
        <!--Options-->
        <div x-show="open === true" @mouseleave="open = false" x-cloak x-transition="" @click.outside="open = false" class="absolute p-1 top-11 flex flex-col text-sm mt-2  overflow-hidden" style="display: none;">
           
              <div id="dropdownInformation" class="z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 ">
          
                
                <ul class="py-2 text-sm text-gray-700 " aria-labelledby="dropdownInformationButton">
               
              
                  <li>
              
              
                    <a href="/bouteille/nouveau" class="block px-4 py-2 hover:bg-gray-100  ">Ajouter Bouteille</a>
                  </li>

                </ul>

               
            </div>
        </div>

        
        
        <!--Options-->
    </div>

      
{#       <a  class="font-medium"href="/cellier/cellier ">Mes celliers</a>
 #}
 
 
 <!-- Recherche -->
 <form method="POST" class="flex-1" action="/bouteille/recherche">   
   <label for="default-search" class="mb-2 text-sm font-bold text-gray-300 sr-only ">Search</label>
   <div class="relative">
     <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
       <svg aria-hidden="true" class="w-5 h-5 text-gray-400 " fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
      </div>
      <input name="recherche" type="search" id="default-search" class="block w-full p-4 py-3.5 pl-10 text-sm text-gray-900 rounded-lg bg-gray-100 outline-none " placeholder="Recherchez un vin dans votre cellier" required>
    </div>
  </form>   
  <div x-data="{open : false}" class="flex flex-col relative space-y-1 ">
      <div class="">
          <p @mouseover="open = true"  class="flex items-center">
              <span class="font-medium">Compte</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mt-1 mx-1" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 0 1 1.414 0L10 10.586l3.293-3.293a1 1 0 1 1 1.414 1.414l-4 4a1 1 0 0 1-1.414 0l-4-4a1 1 0 0 1 0-1.414z" clip-rule="evenodd"></path></svg>
          </p>
      </div>
      <!--Options-->
      <div x-show="open === true" @mouseleave="open = false" x-cloak x-transition="" @click.outside="open = false" class="absolute p-1 top-11 flex flex-col text-sm mt-2  overflow-hidden" style="display: none;">
         
            <div id="dropdownInformation" class="z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 ">
              <a class="block px-4 py-3 text-sm text-gray-900 hover:bg-gray-100 " href="/compte/compte">
                <div>{{session.utilisateur.uti_prenom}}{{session.utilisateur.uti_nom}}</div>
                <div class="font-medium truncate">{{session.utilisateur.uti_courriel}}</div>
              </a>
              {% if session.utilisateur.uti_rol_id == 2  %}
              <ul class="py-2 text-sm text-gray-700 " aria-labelledby="dropdownInformationButton">
             
            
                <li>
            
            
                  <a href="/admin/dashboard" class="block px-4 py-2 hover:bg-gray-100  ">Admin</a>
                </li>
 
              </ul>
              {% endif %}
 
              <div class="py-2">
                <a href="/utilisateur/deconnexion" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100   ">Deconnexion</a>
              </div>
          </div>
      </div>
 
      
      
      <!--Options-->
  </div>
    </div>
    
    
  
   </nav>
</section>






 
<!-- nav mobile -->
<section class="md:hidden relative" x-data="{ isOpen: false }">

  <nav class="flex justify-between gap-x-5 items-center bg-white p-4 md:py-6 md:px-20">

    <div>
     <div class="btn_ham" @click="isOpen = ! isOpen">
      <span></span>
      <span></span>
      <span></span>
     </div>
    </div>
    <article class="w-full">
  <!-- Recherche -->
  <form method="POST" class="flex-1" action="/bouteille/recherche">   
    <label for="default-search" class="mb-2 text-sm font-bold text-gray-300 sr-only ">Search</label>
    <div class="relative">
      <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
        <svg aria-hidden="true" class="w-5 h-5 text-gray-400 " fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
      </div>
      <input name="recherche" type="search" id="default-search" class="block w-full p-4 py-3.5 pl-10 text-sm text-gray-900 rounded-lg bg-gray-100 outline-none " placeholder="Recherchez un vin dans votre cellier" required>
    </div>
  </form> 

    </article>
   </nav>
  
   <!-- Dropdown menu -->
   <article
   x-cloak
   x-show="isOpen" 
   class="fixed inset-0 bg-black bg-opacity-50 z-50">

  <div id="dropdownSmall" 
      @click.away="isOpen = false"
      x-transition
      class="bg-white divide-y  divide-gray-100 rounded-lg shadow 
       absolute left-6 z-20 w-56 py-2 top-16 overflow-hidden">

       <a 
       href="/compte/compte"
       class="flex items-center px-4 py-3 gap-x-3">
        <div class="relative inline-flex items-center justify-center overflow-hidden 
            bg-violet-300 rounded-full
              border-2 border-white border-solid
              w-10 h-10">
          <span class="font-bold sans_6  capitalize text-black text-2xl "> 
            {{session.utilisateur.uti_prenom |first}}
          </span>
      </div>
        <div class="text-sm text-gray-900">
          <div>  {{session.utilisateur.uti_prenom}} {{session.utilisateur.uti_nom}}</div>
          <div class="font-medium truncate">{{session.utilisateur.uti_courriel}}</div>
        </div>
      </a>
    
    <ul class="py-2 text-sm text-gray-700" aria-labelledby="dropdownSmallButton">
      <li>
        <a href="/cellier/cellier" class="block px-4 py-2 hover:bg-gray-100 ">Mes celliers</a>
      </li>
      <li>
        <a href="/bouteille/nouveau" class="block px-4 py-2 hover:bg-gray-100 "> Nouvelle bouteille</a>
      </li>
    </ul>
    <ul class="py-2 text-sm text-gray-700" aria-labelledby="dropdownSmallButton">
      <li>
        <a href="/compte/compte" class="block px-4 py-1.5 hover:bg-gray-100 ">Mon compte</a>
      </li>
    </ul>
    {% if session.utilisateur.uti_rol_id == 2  %}
    <ul class="py-2 text-sm text-gray-700" aria-labelledby="dropdownSmallButton">
      <li>
        <a href="/admin/dashboard" class="block px-4 py-1.5 hover:bg-gray-100 ">Admin</a>
      </li>
    </ul>
    {% endif %}

    <div class="py-2">
      <a href="/utilisateur/deconnexion" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 ">Déconnexion</a>
    </div>
</div>

</article>

  </section>
  
  
<style>
  .btn_ham {
    cursor: pointer;
  }
  .btn_ham > span {
    cursor: pointer;
    display: block;
    height: 4px;
    width: 22px;
    background-color: black;
  }
  .btn_ham > span + span {
    margin-top: 4.5px;
  }

  .bg-color {
    background-color:rgba(171, 219, 215, 0.137);
  }
  .sans_6 {
    font-family: sans-serif;
  }

  .section_nav {
      max-width: clamp(0px, 80vw, 1200px);
      margin-left: auto;
      margin-right: auto;
  }

  .pvh {
    padding-bottom: 10vh;
  }

  [x-cloak] { display: none !important; }
  </style>
 {# https://alpinejs.dev/directives/cloak #}


{% block main %}


    
{% endblock main %}
</body>
</html>

