<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/tailwind.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body class="bg-emerald-50">
  
<!-- nav desktop -->
<nav class="hidden md:flex justify-between items-center bg-white border border-solid border-zinc-300 p-4 md:py-6 md:px-20">
  <div>
    <a href="/bouteille/cellier">
      <img src="/public/img/vino_noir.svg" alt="">
    </a>
  </div>
  <div>
   <a href="/utilisateur/deconnexion" class="mr-6 font-medium">Déconnexion</a>
   <a href="/bouteille/nouveau" class="bg-gray-800 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
     Ajouter
   </a>
  </div>
 </nav>

 
<!-- nav mobile -->
<section class="md:hidden relative" x-data="{ isOpen: false }">

  <nav class="flex justify-between items-center bg-white border border-solid border-zinc-300 p-4 md:py-6 md:px-20">
    <div>
     <div class="btn_ham" @click="isOpen = ! isOpen">
      <span></span>
      <span></span>
      <span></span>
     </div>
    </div>
    <div>
     <a href="/bouteille/nouveau" class="bg-gray-800 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
       Ajouter
     </a>
    </div>
   </nav>
  
   <!-- Dropdown menu -->
   <div x-show="isOpen" 
   @click.away="isOpen = false"
   x-transition:enter="transition ease-out duration-100"
   x-transition:enter-start="opacity-0 scale-90"
   x-transition:enter-end="opacity-100 scale-100"
   x-transition:leave="transition ease-in duration-100"
   x-transition:leave-start="opacity-100 scale-100"
   x-transition:leave-end="opacity-0 scale-90"
   class="absolute left-4 z-20 w-56 py-2 mt-2 overflow-hidden origin-top-right rounded-md shadow-xl bg-gray-800"
  >
   <a href="#" class="flex items-center p-3 -mt-2 text-sm transition-colors duration-300 transform text-gray-300 dark:hover:bg-gray-700 dark:hover:text-white">
       <img class="flex-shrink-0 object-cover mx-1 rounded-full w-9 h-9" src="https://images.unsplash.com/photo-1523779917675-b6ed3a42a561?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8d29tYW4lMjBibHVlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=face&w=500&q=200" alt="jane avatar">
       <div class="mx-1">
           <h1 class="text-sm font-semiboldtext-gray-200">Jane Doe</h1>
           <p class="text-sm text-gray-400">janedoe@exampl.com</p>
       </div>
   </a>
  
   <hr class=" border-gray-700 ">
  
   <a href="#" class="block px-4 py-3 text-sm  capitalize transition-colors duration-300 transform text-gray-300 hover:bg-gray-700 dark:hover:text-white">
    Mon compte
   </a>
  
   <a href="#" class="block px-4 py-3 text-sm  capitalize transition-colors duration-300 transform text-gray-300 hover:bg-gray-700 dark:hover:text-white">
    Mon Cellier
   </a>
  
   <hr class=" border-gray-700 ">
  
   <a href="#" class="block px-4 py-3 text-sm  capitalize transition-colors duration-300 transform text-gray-300 hover:bg-gray-700 dark:hover:text-white">
     Mes bouteilles
   </a>
  
   <a href="#" class="block px-4 py-3 text-sm  capitalize transition-colors duration-300 transform text-gray-300 hover:bg-gray-700 dark:hover:text-white">
       Team
   </a>
  
  
   <hr class=" border-gray-700 ">
  
   <a href="#" class="block px-4 py-3 text-sm  capitalize transition-colors duration-300 transform text-gray-300 hover:bg-gray-700 dark:hover:text-white">
       Déconnexion
   </a>
  </div>
  </section>
  
  
<style>
  .btn_ham {
    cursor: pointer;
  }
  .btn_ham > span {
    cursor: pointer;
    display: block;
    height: 4px;
    width: 22px;
    background-color: black;
  }
  .btn_ham > span + span {
    margin-top: 4.5px;
  }
  </style>
   
   
{% block main %}



    
{% endblock main %}
</body>
</html>

