{% extends "bouteille/base.html" %}

{% block main %}
<header class='hidden md:block' >
  <img class="max-h-24 md:max-h-24 w-full object-cover" src="/public/img/drizzle_bg_2.jpg" alt="">
</header>
<section class="section mt-5 sm:mt-6 md:mt-9 ">


  <div class="flex items-center gap-x-3 sm:gap-x-5 pl-1">
 {# lien retour #}
 
 <a href="/cellier/cellier" type="button" class=" rotate-180 text-black border border-black hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center mr-2 ">
   <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
   <span class="sr-only">Icon description</span>
 </a>
 
 {# titre et btn ajout #}
 <div class="flex items-center gap-x-10">
   <h1 class="text-2xl sm:text-2xl lg:text-4xl capitalize font-extrabold ">Recherche</h1>
  
 </div>
 
  </div>
 
 
    
 </section>
 <section id="app-4" class="mt-6 sm:mt-12 section flex flex-col sm:flex-row sm:flex-wrap gap-4">
 
 {% for bouteille in bouteilles %}
 
  <div 
  data-js-bouteille
  data-js-id="{{bouteille.bdc_id}}"
  class="relative max-w-xs">
     <div class="p-4 py-6 pb-4 bg-white border border-gray-200 rounded-lg shadow">
     <div class="flex relative ">
       <img class="object-cover w-16 md:w-20 pb-1 pt-3 relative left-10" src="{{bouteille.bout_image}}" alt="">
       <div x-data="{ isOpen: false }" 
       class="absolute -top-3 right-0 cursor-pointer  mt-3 ml-3 px-3 py-2 rounded-lg z-10 ">
         <img src="/public/img/petit-menu.svg" alt="" @click="isOpen = ! isOpen" >
           <div 
           x-cloak
           x-show="isOpen" 
           x-transition
           class="absolute right-0 -mt-1 sm:left-1"  @click.outside="isOpen = false">
             {{ include('components/voir-saq.html') }}
           </div>
       </div>
     </div>
 
     <a class="mt-4 px-2 block" href="/bouteille/detail/{{bouteille.bdc_id}}">
       <h2 class="font-medium w-64 text-base md:text-lg text-gray-800 line-clamp-1" title="{{bouteille.bout_nom}}">
         {{bouteille.bout_nom}}
       </h2>
       <p class="mt-2 text-sm text-gray-800 line-clamp-1" title="{{bouteille.bout_description}}">
       {{bouteille.bout_description}}
       </p>
     </a>

     <div class="px-2 mt-3">
      <a href="/cellier/un/{{bouteille.cel_id}}">Cellier: <span class="text-blue-600">{{bouteille.cel_nom}}</span> </a>
     </div>

     <div class="flex gap-2 mt-6 px-2">
		  <p class="inline-flex items-center text-gray-800">
        <span class="text-2xl font-bold sans_6" data-js-quantite>{{bouteille.bdc_quantite}}</span>
		  </p>
		  <p class="inline-flex items-center text-gray-800">
			
			<span class="p-1 cursor-pointer"  data-js-ajouter>
        <img src="/public/img/augmenter.svg" alt="">
      </span>
      <span class="cursor-pointer p-1" data-js-boire>
        <img src="/public/img/diminuer.svg" alt="">

      </span>
		  </p>
		</div>
     </div>
   </div>
 {% endfor %}
 
 </section>

 
{% if bouteilles is empty %}

<section class="section md:mt-4">
  <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow 0">
    <p class="mb-1 font-normal text-gray-700">Aucun résultat trouvé</p>
</div>
</section>

</section>
{% endif %}
<style>
  .section {
    max-width: clamp(0px, 80vw, 1200px);
    margin-left: auto;
    margin-right: auto;
  }
  .sans_6 {
    font-family: sans-serif;
  }
  


</style>
<script src="/public/js/Bouteille.js"></script>
<script src="/public/js/message.js"></script>
<script src="/public/js/main.js"></script>

{% endblock %}