
    <article class="flex justify-center items-center">
        <div class="w-full max-w-md pt-6 md:pt-12">
            <form method="POST" action="/bouteille/insertion" class="bg-white border-solid border	border-gray-300 shadow-md rounded px-8 pt-6  pb-5 mb-4">
             
                <div class="mb-4">
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="choix_vin">Choisir une bouteille:</label>
                  <input 
                  @input="recherche" 
                  x-model="message"
                  class="bg-slate-100 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                  list="bdc_bout_id" id="choix_vin" name="nom_bouteille_saq" required>

                  <datalist 
                  class="bg-slate-100 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                  id="bdc_bout_id">
                  <template x-for="bouteille in bouteilles">
                    <option :value="bouteille.bout_nom"></option>
                  </template>  
                  </datalist>
                </div>
                
              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                 Quantite
                </label>
                <input name="bdc_quantite" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" required type="number" value="1">
              </div>
              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                  notes
                </label>                
                <textarea name="bdc_notes" id="message" rows="2" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Vos commentaires..."></textarea>
                </div>
            
              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                    Millesime
                </label>
                <input name="bdc_millesime" class="shadow appearance-none border  rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="number" placeholder="Millesime">
              </div>
              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                  Date d'achat
                </label>
                <input name="bdc_date_achat" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="date">
              </div> 
              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Garder jusqu'à
                </label>
                <textarea name="bdc_garde_jusqua" id="message" rows="1" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder=""></textarea>
              </div>
              <div class="mt-5 flex items-center justify-between">
                <button class="bg-black hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                  Ajouter
                </button>

                <button 
                @click="open = false"
                type="button" class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8" aria-label="Close">
                    <span class="sr-only">Close</span>
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
              </div>
              <input type="hidden" name="bdc_cel_id" value="{{cel_id}}">


              
            </form>
            <p class="text-center text-gray-500 text-xs">
              &copy;2023 Vino Corp. All rights reserved.
            </p>
          </div>
    </article>
<script src="/public/js/comboBox.js"></script>
 
